{% extends "base.html.j2" %}
{% block body %}

  <div class="row">
    <div class="col-12">
      <h2 class="text-center">Color palettes for Firefly Zero</h2>
      <p class="lead">
        You can use any 16-color color palettes with
        <a href="https://fireflyzero.com/" target="_blank">Firefly Zero</a>.
        To make your life easier, we've generated code snippets
        for different languages by Firefly Zero for top palettes from
        <a href="https://lospec.com/palette-list" target="_blank">Lospec</a>.
      </p>
    </div>
  </div>

  <section class="row justify-content-center">
    {% for p in palettes %}
      <div class="col col-md-4 g-4" id="{{ p.slug }}">
        {% with show_button=true %}
          {% include "card.html.j2" %}
        {% endwith %}
     </div>
    {% endfor %}
  </section>

{% endblock %}
