
<h2>
  Go
  <button class="btn btn-light" type="button" data-clipboard-target="#code-go">
    📋 copy
  </button>
</h2>
<pre id="code-go">
package main

import "github.com/firefly-zero/firefly-go/firefly"

func init() {
    firefly.Boot = boot
}

func boot() {
    setColors()
}

func setColors() {
    // https://lospec.com/palette-list/{{ p.slug }}
  {%- for c in colors %}
    firefly.SetColor({{c.index}}, firefly.RGB{R: 0x{{c.r_hex}}, G: 0x{{c.g_hex}}, B: 0x{{c.b_hex}}})
  {%- endfor %}
}
</pre>

<script src="https://clipboardjs.com/dist/clipboard.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>

<script>
  var clipboard = new ClipboardJS('.btn');
  clipboard.on('success', function(e) {
      Swal.fire({
        title: 'Copied!',
        text: 'Now you can paste the snippet into your project',
        type: 'success',
        confirmButtonText: 'got it!'
      })
    e.clearSelection();
  });
</script>
